[Unit]
Description=Timer hello world - Service unit

[Service]
Type=oneshot
ExecStart=/usr/bin/echo "Timer hello world at $(date)"

[Install] 
WantedBy=multi-user.target
